@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Questrial&family=Road+Rage&display=swap');

@import "tailwindcss";

@theme {
  --font-roadrage: "Road Rage", serif; 
  --font-atkinson: "Atkinson Hyperlegible Mono", serif;
  --font-questrial: "Questrial", serif;
}

*{
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding:auto;
  font-size:'16px';
}

button:focus, textarea:focus, select:focus {
  outline: 1px solid #d7b0fc; /* Tailwind's purple-500 */
}
